---
const currentYear = new Date().getFullYear();
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <div class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">
      <span
        >© {currentYear}
        <a
          href="https://github.com/edwinmoreno77"
          target="_blank"
          class="hover:underline">Edwin Moreno</a
        >.
      </span>
      <br class="hidden sm:block" />
      <span class="text-xs opacity-75">
        Basado en el trabajo de
        <a
          href="https://github.com/midudev"
          target="_blank"
          class="hover:underline">Midudev</a
        >
        (<a href="https://porfolio.dev/" target="_blank" class="hover:underline"
          >porfolio.dev</a
        >)
      </span>
      <br class="hidden sm:block" />
      <span class="text-xs opacity-60">
        Licencia:
        <a
          href="https://creativecommons.org/licenses/by-nc/4.0/"
          target="_blank"
          class="hover:underline">CC BY-NC 4.0</a
        >
      </span>
    </div>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a
          id="contacto"
          href="mailto:edwinmoreno77@gmail.com"
          class="hover:underline">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
